<h1 translate="Title"></h1>

<div class="tile triple bg-darkPink">
    <div class="tile-content">
        <div class="tile-content icon">
            <i class="icon-puzzle"></i>
        </div>
    </div>
    <div class="tile-status">
        <span translate class="name">Questions</span>
    </div>
</div>

<div class="tile bg-lightGreen">
    <div class="tile-content">
        <div class="tile-content icon">
            <i class="icon-umbrella"></i>
        </div>
    </div>
    <div class="tile-status">
        <span translate class="name">Categories</span>
    </div>
</div>