<h1 translate="Title"></h1>

<div class="tile triple bg-darkPink">
    <div class="tile-content">
        <div class="tile-content icon">
            <i class="icon-cube-2"></i>
        </div>
    </div>
    <div class="tile-status">
        <span translate class="name">Questions</span>
    </div>
</div>

<div class="tile bg-lightGreen">
    <div class="tile-content">
        <div class="tile-content icon">
            <i class="icon-cog"></i>
        </div>
    </div>
    <div class="tile-status">
        <span translate class="name">Categories</span>
    </div>
</div>


<div class="tile triple bg-darkOrange">
    <div class="tile-content">
        <div class="tile-content icon">
            <i class="icon-cube"></i>
        </div>
    </div>
    <div class="tile-status">
        <span translate class="name">Tests</span>
    </div>
</div>