<h1 translate="Title"></h1>

<div class="tile double double-vertical live bg-cyan" data-role="live-tile" data-effect data-ng-click="navigate('/dashboard')">
    <div class="tile-content">
        <img src="/app/images/desktop_01.jpg">
    </div>
    <div class="tile-content">
        <img src="/app/images/desktop_02.jpg">
    </div>
    <div class="tile-content">
        <img src="/app/images/desktop_03.jpg">
    </div>

    <div class="tile-status">
        <span translate class="name">Dashboard</span>
    </div>
</div>

<div class="tile triple bg-darkPink">
    <div class="tile-content">
        <div class="tile-content icon">
            <i class="icon-cube-2"></i>
        </div>
    </div>
    <div class="tile-status">
        <span translate class="name">Questions</span>
    </div>
</div>

<div class="tile bg-lightGreen" data-ng-click="navigate('/categories')">
    <div class="tile-content">
        <div class="tile-content icon">
            <i class="icon-cog"></i>
        </div>
    </div>
    <div class="tile-status">
        <span translate class="name">Categories</span>
    </div>
</div>

<div class="tile triple bg-darkOrange">
    <div class="tile-content">
        <div class="tile-content icon">
            <i class="icon-cube"></i>
        </div>
    </div>
    <div class="tile-status">
        <span translate class="name">Tests</span>
    </div>
</div>

<tile></tile>



