# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

## Directory-based project format
.idea/

## Additional for IntelliJ
out/


node_modules/
bower_components/

app/server/logs/requests/*.*
app/server/logs/errors/*.*