# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

## Directory-based project format
.idea/

## Additional for IntelliJ
out/


node_modules/
bower_components/

app/server/logs/*/*.*


## Ignore all but the .tex and .pdf files in the documentation
!documentation/*/*.tex
!documentation/*/*.pdf
