
<!-- {{ options.name }} -->
<div class="form-field {{ options.validationClass }}" data-form-field-type="text">
    <div class="field-header">
        <label class="field-header-label">{{ options.title }}</label>
    </div>
    <div class="input-control">
        <div class="indicator"></div>
        <div class="control">
            <input class="dateTimePicker" type="date" data-ng-model="data" data-ng-change="valueChanged()" />
            <input class="dateTimePicker" type="time" data-ng-model="data" data-ng-change="valueChanged()" />
        </div>
        <div class="mood-icon" data-ng-click="reset()" data-ng-class="(options.allowClear ? 'allow-clear' : '')">
            <i class="{{ options.cssClass }}"></i>
        </div>
    </div>
    <div class="validation-message" data-ng-if="options.validationMessage && !options.isValid">
        {{ options.validationMessage }}
    </div>
</div>