<nav class="navigation-bar">
    <nav class="navigation-bar-content">
        <div class="element">
            <a class="dropdown-toggle" href="#">{{ title }}</a>
            <ul class="dropdown-menu" data-role="dropdown">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/dashboard">Dashboard</a></li>
            </ul>
        </div>

        <span class="element-divider"></span>

        <span data-ng-repeat="link in quickLinks">
            <a class="element brand" data-ng-href="{{ link.url }}"><span data-ng-class="link.cssClass"></span></a>
            <span class="element-divider"></span>
        </span>

        <div class="element place-right">
            <a class="dropdown-toggle" href="#">
                <span class="icon-cog"></span>
            </a>
            <ul class="dropdown-menu place-right" data-role="dropdown">
                <li><a href="#/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>

        <span class="element-divider place-right"></span>
        <span class="element place-right">{{ language }}</span>
        <span class="element-divider place-right"></span>
        <a class="element place-right" href="#/profile">{{ profile.name }}</a>
        <span class="element-divider place-right"></span>
    </nav>
</nav>

<nav class="breadcrumbs">
    <ul>
        <li data-ng-repeat="breadcrumb in breadcrumbs">
            <a data-ng-href="{{ breadcrumb.url ? breadcrumb.url : '#' }}">
                <i data-ng-if="breadcrumb.cssClass" class="{{ breadcrumb.cssClass }}"></i>
                <span>{{ breadcrumb.title }}</span>
            </a>
        </li>
    </ul>
</nav>

<div class="toolbar transparent place-bottom-right">
    <span data-ng-repeat="toolbarItem in toolbarItems">
        <button data-ng-if="toolbarItem.type === 'button'" data-ng-click="toolbarItem.handler()">
            <i class="{{ toolbarItem.cssClass }}"></i>
            {{ toolbarItem.title }}
        </button>
        <span data-ng-if="toolbarItem.type === 'devider'" class="divider"></span>
    </span>
</div>


