
$gutter: 20px;
$max_columns: 16;

[class*='col-'] {
  display: inline-block;
  padding-right: $gutter;
  padding-bottom: 10px;
  vertical-align: top;

  // inline-block will render whitespace. This can be compensated with a negative -4 margin.
  margin-right: -4px;
}

.row {
  width: 100%;
  padding: 0px;
  margin: 0px;

  margin-right: #{-1 * $gutter};
}

.col {
  width: 100%;
}

@for $i from 1 through $max_columns {

  @for $j from 1 through $i {

    @if $j != $i {
      .#{"col"}-#{$j}-#{$i} {
        width: #{(100 / $i) * $j}#{"%"};
      }
    }
  }
}

@for $i from 1 through $max_columns {

  @for $j from 1 through $i {

    @if $j != $i {
      .#{"push"}-#{$j}-#{$i} {
        margin-left: #{(100 / $i) * $j}#{"%"};
      }
    }
  }
}
