

[class*='col-'] {
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 10px;
  vertical-align: top;

  // inline-block will render whitespace. This can be compensated with a negative -4 margin.
  margin-right: -4px;
}

.row {
  width: 100%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  width: 100%;
}

@for $i from 1 through 12 {

  @for $j from 1 through $i {

    @if $j != $i {
      .#{"col"}-#{$j}-#{$i} {
        width: #{(100 / $i) * $j}#{"%"};
      }
    }
  }
}

@for $i from 1 through 12 {

  @for $j from 1 through $i {

    @if $j != $i {
      .#{"push"}-#{$j}-#{$i} {
        margin-left: #{(100 / $i) * $j}#{"%"};
      }
    }
  }
}

//content: "\007C\00a0\00a0";