
// COLORS
@color-valid: #008a00;
@color-error: #a20025;
@color-invalid: #a20025;
@color-info: #00aff0;
@color-warning: #F0A30A;

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-content {
  padding: 0px 40px;
}


// FORMS

form {

  fieldset {

    .indicator { background: #d3d3d3; }
    .mood-icon { background: #efefef; }

    .valid {
      .indicator { background: @color-valid; }
      .field-header-label { color: darken(@color-valid, 10%); }
      .mood-icon { background: @color-valid; color: white; }
    }
    .invalid {
      .indicator { background: @color-invalid; }
      .field-header-label { color: darken(@color-invalid, 10%); &:after { content: "*" } }
      .mood-icon { background: @color-invalid; color: white; }
    }
    .error {
      .indicator { background: @color-error; }
      .field-header-label { color: darken(@color-error, 10%); &:after { content: "*" } }
      .mood-icon { background: @color-error; color: white; }
    }
    .info {
      .indicator { background: @color-info; }
      .field-header-label { color: darken(@color-info, 10%); }
      .mood-icon { background: @color-info; color: white; }
    }
    .warning {
      .indicator { background: @color-warning; }
      .field-header-label { color: darken(@color-warning, 10%); }
      .mood-icon { background: @color-warning; color: white; }
    }

    .form-field {
      .field-header {
        margin-left: 3px;

        .field-header-label { }
      }

      .input-control {
        position: relative;
        height: 32px;

        .indicator {
          width: 11px;
          position: absolute;
          left: 0px;
          top: 0px;
          bottom: 0px;

          z-index: 2;

          border-color: #d3d3d3;
          border-width: 1px 0px 1px 1px;
          border-style: solid;
        }

        .control {
          position: absolute;
          left: 10px;
          right: 40px;
          top: 0px;
          bottom: 0px;

          input, select {
            width: 100%;
            height: 100%;
            border: 1px solid #d3d3d3;
          }
        }

        .mood-icon {
          width: 41px;
          position: absolute;
          right: 0px;
          top: 0px;
          bottom: 0px;
          line-height: 32px;
          vertical-align: middle;
          text-align: center;

          &.allow-clear {
            cursor: pointer;
          }

          z-index: 2;

          border-color: #d3d3d3;
          border-width: 1px 1px 1px 0px;
          border-style: solid;
        }

      }
    }
  }

  input[type='button'], input[type='submit'] {
    margin-top: 10px;
  }

  input {
    padding: 4px 10px;
  }

  *:focus {
    outline: none;
  }
}
